html{
  background-color: #F3FBF8;
  height: 100vh;
}
body{
  margin:0px;
  min-height: 100vh;
  overflow-x: hidden; 
}

header{
  z-index: 5;
  height: 60px;
  display: flex;
	position: sticky;
	top: 0;
	left: 0;
}

header div{
  background-color: #4377B2;
  margin: 0px 2px 0px 0px;
  border-radius: 0rem 0rem .5rem .5rem;
}

#titre {
  flex: 80%;
  display: flex;
  align-items: center;
}

#titre h1 {
  /*flex: 1;*/
  padding: 0px 5% 0px 5%;
  /*margin-left: 150px;*/
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}