/*=======================================================================================================*/
/*================================================== COULEURS PRINCIPALES ===============================*/

:root{
  --couleur-principale-1 : #4377B2;
  --couleur-principale-2 : #4D98BF;
  --couleur-principale-3 : #5FAEBE;
  --couleur-principale-4 : #81C3C3;
  --couleur-principale-5 : #F3FbF8;
  --couleur-principale-6 : #76BBEC;
}

/*=======================================================================================================*/
/*================================================== IMPORTATIONS =======================================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/*=======================================================================================================*/
/*================================================== PARAMETRES GENERAUX ================================*/

html{
  background-color: var(--couleur-principale-5);
  height: 100vh;
  font-family: 'ZT Grafton', sans-serif;
  background: url("img/background2.png") repeat center;
  background-size: cover;
}

body{
  position: absolute;
  right: 0px;
  margin:0px;
  height: 100vh;
  overflow-x: hidden; 
}

div#page-principale{
  z-index: 0;
  animation: PagesAppear ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes PagesAppear{

  0% {
    transform: translate(0px, -100%);
  }
  60% { transform: translate(0px, -100%); }
  80% { transform: translate(0px, 0%); }
}

/*=======================================================================================================*/
/*==================================================== PAGE CHARGEMENT ==================================*/

div#page-chargement{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  z-index: 10;
  background-color: var(--couleur-principale-1);
  animation: AppearInAnimationFondu ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes AppearInAnimationFondu {
  0% {
    transform: translateX(0px);
  }
  80%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(-100%);
  }
}
/*
#font-progress-chargement{
  margin: 10px;
  height: 30px;
  border-radius: 16px;
  background-color: grey;
  width: 50vw;
}

#progress-chargement{
  height: 100%;
  border-radius: 16px;
  width: 50%;
  background-color: var(--couleur-principale-2);
  animation: AppearInAnimationChargement ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes AppearInAnimationChargement {
  0% {
    width: 0%;
  }
  100%{
    width: 100%;
  }
}*/

#logo-site-chargement {
  position: absolute;
  top: 10%;
}

#progress-chargement{
  position: absolute;
  top: calc(75% - 50px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  border: 2px solid rgba(170, 170,170,0.356);
  box-shadow: 0 -2px 2px rgba(0,0,0,0.2);
  border-bottom: 5px solid var(--couleur-principale-2);
  border-radius: 50%;
  animation: rotate-chargement 5s linear infinite;
}

#progress-chargement::before{
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  border: 2px solid rgba(170, 170,170,0.356);
  box-shadow: 0 -2px 2px rgba(0,0,0,0.2);
  border-bottom: 5px solid var(--couleur-principale-3);
  border-radius: 50%;
  animation: rotate-chargement 4s linear infinite;
}

#progress-chargement::after{
  content: '';
  position: absolute;
  top: 22px;
  left: 22px;
  bottom: 22px;
  right: 22px;
  border: 2px solid rgba(170, 170,170,0.356);
  box-shadow: 0 -2px 2px rgba(0,0,0,0.2);
  border-bottom: 5px solid var(--couleur-principale-4);
  border-radius: 50%;
  animation: rotate-chargement 2s linear infinite;
}

@keyframes rotate-chargement {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

body #general{
  height: 92vh;
}

/* Scroll bare général */

::-webkit-scrollbar{
  width:0;
  background: transparent;
}


/*=======================================================================================================*/
/*================================================== BOUTON SCROLL ======================================*/

nav#nav-fin{
  height: 0px;
}
  
nav#nav-fin #scroll{
  transform: translateY(-75px);
  animation: upLaunch ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
/*
nav#nav-fin #scroll .carre{
  transition: 0.3s;
}*/

@keyframes upLaunch {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  30% {
    opacity: 1;
    transform: scale(1.05,0.95) translateY(-100px);
  }
  60% { transform: scale(0.975,1.025) translateY(-65px); }
  100% { transform: scale(1,1) translateY(-75x); }
}

/*=======================================================================================================*/
/*==================================================== BOUTONS GENERAUX =================================*/

/*Bouton switch*/

.switch{
  margin: 5px;
  width: 38px;
  height: 16px;
  position: relative;
  transform: rotate(-90deg);
}

.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  background-color: rgb(193, 193, 193);
  transition: 0.6s;
  transform: translateY(60px);
}

.slider:before{
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: -3px;
  bottom: -4px;
  border-radius: 50%;
  background-color: grey;
  transition: 0.6s;
}

input:checked + .slider{
  background-color: #082374;
}

input:checked + .slider:before{
  background-color: #1439a9;
  transform: translateX(20px);
}

/*Bouton 1 clic*/

.button, .leaflet-control-zoom-in, .leaflet-control-zoom-out{
  background: linear-gradient(45deg, var(--couleur-principale-1), var(--couleur-principale-2), var(--couleur-principale-3), var(--couleur-principale-4), var(--couleur-principale-6), var(--couleur-principale-5));
  border-radius: 16px;
	box-shadow: -1px 2px 2px grey;
  cursor: pointer;
  transition: 0.3s;
}

.drop::before, .leaflet-control-zoom-in::before, .leaflet-control-zoom-out::before{
  content:'';
  position: absolute;
  border-radius: 16px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(var(--couleur-principale-3), var(--couleur-principale-3));
  transform: scale(0);
  transition: 0.3s;
}

.button-villes{
  background: linear-gradient(45deg, var(--couleur-principale-1), var(--couleur-principale-2), var(--couleur-principale-3), var(--couleur-principale-4), var(--couleur-principale-6), var(--couleur-principale-5));
  border-radius: 16px;
	box-shadow: -1px 2px 2px grey;
  cursor: pointer;
  transition: 0.3s;
  margin: 0px 0 0 0;
}

/*.leaflet-control-zoom-out:hover, .leaflet-control-zoom-in:hover*/
/*
.button-villes::before{
  content:'';
  position: absolute;
  border-radius: 16px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(var(--couleur-principale-3), var(--couleur-principale-3));
  transform: scale(0);
  transition: 0.3s;
}*/

.button-villes p {
  flex: 0;
	color: black;
	text-align: center;
	padding: 4px 4px;
	transition: 0.3s;
	margin-right: 2px;
	margin-left: 2px;
  font-size: 16px;
  font-weight: bold;
}

/*=======================================================================================================*/
/*==================================================== COMMAND STYLE =====================================*/

div:has(> .command){
  border: 2px solid whitesmoke;
  backdrop-filter: blur(10px);
  border-radius: 16px;
  transition: 0.3s;
}

#liste-villes{
  transition: 0.3s;
  height: 0;
  transform: scaleY(0);
}

.command-villes input{
  transition: 0.3s;
  height: 0;
  transform: scaleY(0);
}

.command-villes div span{
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.command-villes div span div{
  flex: 4;
}

.command-villes div span span{
  flex: 1;
  transition: 0.3s;
  transform: rotate(90deg);
}

/*=======================================================================================================*/
/*==================================================== FILTRE STYLE =====================================*/

div:has(> .command-filtre){
  padding: 10px;
  padding-top: 65px;
  margin-top: 15px;
  transition: 0.3s;
  transform-origin: top right;
}

.command-filtre form{
  display: flex;
  align-items: center;
  transition: 0.3s;
  transform-origin: top;
}

.command-filtre form div{
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  padding-left: 15px;
  z-index: 1;
  background-color: black;
}

.command-filtre form input{
  cursor: pointer;
  transform-origin: right;
  margin-left: 25px;
  z-index: 0;
}


.command-filtre form span{
  cursor: pointer;
  transition: 0.3s;
  transform: rotate(90deg);
}

.checkfiltre{
  padding: 5px;
}

/*=======================================================================================================*/
/*==================================================== SELECT VILLE STYLE ===============================*/

div:has(> .command-villes){
  padding: 10px;
}

/*=======================================================================================================*/
/*==================================================== BOUTONS CLOSE ====================================*/

#closeNotation{
  position: absolute;
  right: 15px;
  top: 15px;
}

#closeCreerArticle{
  position: absolute;
  right: 15px;
  top: 15px;
}

/*=======================================================================================================*/
/*==================================================== BOUTONS HOVER / ACTIVE ===========================*/

.drop:hover::before, .leaflet-control-zoom-out:hover::before, .leaflet-control-zoom-in:hover::before{
  transform: scale(1);
}

#compte:hover, #loupe:hover, #creer-avis:hover{
  /*box-shadow: -1px 2px 2px grey;*/
  background: linear-gradient(var(--couleur-principale-3), var(--couleur-principale-4));
}

.button:active, #compte:active, #creer-avis:active, #loupe:active, #interact .drop:active, .leaflet-control-zoom-out:active, .leaflet-control-zoom-in:active{
  background: linear-gradient(var(--couleur-principale-2), var(--couleur-principale-2));
  background-color: var(--couleur-principale-2);
  box-shadow: 0px 0px;
}
/*
.button-villes:hover {
  background: linear-gradient(#f94c02, whitesmoke);
}

.button-villes:active {
  background: linear-gradient(#f94c02, #f94c02);
  background-color: #f94c02;
  box-shadow: 0px 0px;
}*/

/*=======================================================================================================*/
/*======================================================== LOGO =========================================*/

/* Google Fonts */

#map .carre .material-symbols-outlined{
  transform: translate(-2px, -2px);
}

#note .carre .material-symbols-outlined, 
#checkbox .carre .material-symbols-outlined, 
#creer-avis .carre .material-symbols-outlined{
  transform: scale(1.2,1.2);
}

#checkbox .carre .material-symbols-outlined, #creer-avis .carre .material-symbols-outlined{
  transform: translate(0px, 3px);
}

#logo-connexion .material-symbols-outlined{
  transform: scale(1.2,1.2);
}

/* flèche */

#barre-arrow{
  background-color: black;
  width: 2px;
  height: 15px;
  margin: auto;
  transform: translateY(2px);
}
  
#pointe-arrow{
  margin: auto;
  width: 10px;
  height: 10px;
  border: 0px solid black;
  border-width: 0px 2px 2px 0px;
  transform: translate(-42%,2px) rotate(45deg);
}

/* Loupe */

#loupe{
  height: 32px;
  width: 31px;
  margin-right: 20px;
  transition: 0.3s;
  z-index: 1;
  border-radius: 0% 40% 40% 0%;
  background: linear-gradient(45deg, var(--couleur-principale-1), var(--couleur-principale-2), var(--couleur-principale-3), var(--couleur-principale-4), var(--couleur-principale-5), var(--couleur-principale-6));
}

#loupe #cercle{
  background:transparent;
  border-radius:50%;
  width:10px;
  height:10px;
  border:2px solid black;
  transform: translate(5px, 5px);
}

#loupe #barre{
  background:black;
  width:0px;
  height:10px;
  padding: 0px;
  border:0px solid black;
  border-right-width: 3px;
  transform: translate(18px, 1px) rotateZ(-45deg);
}

/* Connexion */

#logo-connexion{
  background: transparent;
  position: relative; 
  flex: 1;
  margin: auto;
}

/* Pages */

.carre{
  position: relative;
  background:transparent;
  border:2px solid black;
  border-radius:25%;
  transition: 0.3s;
}

#map .carre, #actu .carre, #nav-fin .carre{
  height: 20px;
  width: 20px;
}

#interact .carre, #creer-avis .carre{
  height: 30px;
  width: 30px;
}

/* Map */

#carte{
  margin-top:1px;
  margin-left: 2px;
  display: flex;
  width: 16px;
  height: 15px;
  transform: translateY(2px);
}
  
/* Fil actu */

#carre-photo{
  flex: 1;
  border:2px solid black;
  border-radius: 1px;
  width:2px;
  height:2px;
  transform: translate(3px, 2px);
}

.barre{
  background: black;
  height: 2px;
  position: absolute;
  top: 15%;
  left: 15%;
}

#barre1{
  transform: translate(8px, 2px);
  width: 7px;
}

#barre2{
  transform: translate(0px, 7px); 
  width: 15px;
}

#barre3{
  transform: translate(0px, 12px);
  width: 10px;
}

/*Close*/

.logo-close{
  background-color: transparent;
  border: 2px solid black;
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

.croix1{
  background-color: black;
  width: 4px;
  height: 30px;
  transform: rotate(45deg);
  margin: auto;
}

.croix2{
  background-color: black;
  width: 4px;
  height: 30px;
  transform: translate(0px,-100%) rotate(-45deg);
  margin: auto;
}

/*=======================================================================================================*/
/*==================================================== HEADER ===========================================*/

/* HEADER */

header{
  z-index: 5;
  height: 7vh;
  display: flex;
	position: sticky;
	top: 0;
	left: 0;
}

header div{
  background-color: var(--couleur-principale-1);
  margin: 0px 0px 0px 0px;
  border-radius: 0rem 0rem .5rem .5rem;
}

/* Titre */

#titre {
  flex: 80%;
  display: flex;
  align-items: center;
}

#effecten {
  overflow: hidden;
  filter: contrast(150%) brightness(1000%);
  position: relative;
  background: black;
  width: 130px;
  height: 100%;
  border-radius: 0;
  display: flex;
  align-items: center;
  padding: 0 10px 0 20px;
}

#evnote {
  color: #fff;
  margin: 0;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  background:  black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
}

#evnote::before, #evnote::after {
  content: attr(data-text);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  filter: blur(0.02em);
}

#evnote::after {
  mix-blend-mode: difference;
}

.gradient, .spotlight {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.gradient {
  mix-blend-mode: multiply;
}

.spotlight {
  top: -100%;
  left: -100%;
  background: radial-gradient(circle, white, transparent 25%) 0 0 / 25% 25%, radial-gradient(circle, white, black 25%) 50% 50% / 12.5% 12.5%;
  mix-blend-mode: color-dodge;
  animation: Fire 5s linear infinite;
}

@keyframes Fire {
  100% {
    transform: translate(50%, 50%);
  }
}

#time-animation{
  background: no-repeat url("img/img-meteo/sun.png");
  background-size: 100%;
  height: 100%;
  width: 50px;
  margin: 0 10px;
  animation: sun-animation linear 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
}

@keyframes sun-animation {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

#time {  
  position: relative;
  font-size: 23px;
  margin: 0 0 0 0;
  color: #222;
  border-radius: 0;
  border-bottom: 2px solid #222;
}

#div-search{
  margin: 0 0 0 20px;
  position: relative;
  width: 65px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

#div-search:hover {
  width: 400px;
}

#div-search::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(#00dfc4, #00dfc4, #2169EC);
  z-index: 10;
  filter: blur(1px);
}

#div-search::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(#00dfc4, #00dfc4, #2169EC);
  z-index: 10;
  filter: blur(1px);
}

#div-search input {
  
  border-radius: 16px;
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px 25px;
  outline: none;
  font-size: 1.1em;
  color: #555;
  background: linear-gradient(#dbdae1, #aaa3ba);
  box-shadow: 5px 5px 5px rgba(0,0,0,0,1), 15px 15px 15px rgba(0,0,0,0,1), 20px 20px 15px rgba(0,0,0,0,1), 30px 30px 15px rgba(0,0,0,0,1), inset 1px 1px 2px #fff;
}

#div-search input::placeholder {
  color: transparent;
}

#div-search:hover input::placeholder {
  color: #555;
}

ion-icon {
  position: absolute;
  right: 20px;
  color: #555;
  font-size: 1.5em;
  cursor: pointer;
}

/* Recherche */

/*

#titre div input{
  background: linear-gradient(var(--couleur-principale-3), var(--couleur-principale-3));
	color: black;
	transition: 0.3s;
	border-radius: .9rem 0% 0% .9rem;
  padding-left: 20px;
  padding-right: 20px;
	box-shadow: -1px 2px 2px grey;
  border: none;
  width: 100%;
  height: 30px;
  transform-origin: right;
  animation: AppearInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

*/

#search::placeholder {
  color: rgb(74, 74, 74);
}

@keyframes AppearInAnimation {
    0%{transform: scale(0,1);}
    30% {transform: scale(1.1,0.9);}
    60% { transform: scale(0.95, 1.05); }
    100% { transform: scale(1, 1); }
}

/* Connexion */

#compte{
  flex: auto;
  max-width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Alkalami', 'Alkalami', Arial, sans-serif;
  padding: 0px 5px 0px 5px;
  transition: 0.3s;
  box-shadow: -1px 2px 2px grey;
  background: linear-gradient(45deg, var(--couleur-principale-1), var(--couleur-principale-2), var(--couleur-principale-3), var(--couleur-principale-4), var(--couleur-principale-6), var(--couleur-principale-5));
}

#compte a{
  display: flex;
  width: 100%;
  padding: 0px 0px 0px 0px;
  text-align: center;
}

/* Compte */

#compte a{
  text-decoration : none;
  color : black;
  display: flex;
  width: 100%;
} 

#compte a:visited{
  color : black;
}

#connect{
  flex: 3;
  transform-origin: right;
  padding: 0px 5% 0px 5%; 
}

#compte > ul {
  display: flex;
  text-align: center;
  padding : 0px 5% 0px 5%;
}

#compte > ul > li {
  background: linear-gradient(var(--couleur-principale-3), var(--couleur-principale-3));
  position: relative;
  height: 100%;
  flex: 1;
}

#compte > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#compte .menu-deroulant > a:after{
  content: '❯';
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.sous-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
  max-height: 0;
}

.sous-menu > li > a {
  height: 50px;
  padding-left: -20px;
  width: 200%;
  align-items: center;
  display: flex;
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}

.sous-menu > li:hover {
  background: linear-gradient(var(--couleur-principale-3), var(--couleur-principale-3));
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #2169EC;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #2169EC;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

#menu-demo2 li{
  list-style-type: none;
  background: linear-gradient(var(--couleur-principale-3), var(--couleur-principale-3));
}

#compte #menu-demo2 #menu a{
  font-size: 30px;
  background: linear-gradient(var(--couleur-principale-3), var(--couleur-principale-3));

}

#compte #menu-demo2{
  flex: auto;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Alkalami', 'Alkalami', Arial, sans-serif;
  padding: 0px 5px 0px 5px;
  transition: 0.3s;
  box-shadow: -1px 2px 2px grey;
  border-radius: 16px;
  background: linear-gradient(var(--couleur-principale-3), var(--couleur-principale-3));
}

/*=======================================================================================================*/
/*=================================================== MARQUEE ===========================================*/

/* Phrase présentation */



#phrase-presentation{
  margin-top: 2vh;
  width: 100vw;
  position: relative;
  border: 0px solid var(--couleur-principale-1);
  border-width: 2px 0px 2px 0px;
  min-height: 3vh;
  backdrop-filter: blur(10px);
  background-color: #1439a9;
}

#phrase-presentation:before, #phrase-presentation:after{
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}

#phrase-presentation:before{
  left: 0;
  background: linear-gradient(to right, #082374 0%, transparent 100%);
}

#phrase-presentation:after{
  right: 0;
  background: linear-gradient(to left, #082374 0%, transparent 100%);
}


#phrase-presentation p{
  color: var(--couleur-principale-3);
  font-family: 'Alkalami', 'Alkalami', Arial, sans-serif;
  margin: 4px 0 4px 0;
  animation: scrollingPhrase 30s linear infinite;
  width: 100%;
  font-size: 24px;
}

@keyframes scrollingPhrase {
  0% {transform: translateX(100vw);}
  100% {transform: translateX(-100vw);}
}

/* Maquee bar */

:root{
  --largeur-menu : 200px;
  --marquee-width: 100vw;
  --marquee-height: 60px;
  --marquee-elements: 10;
  --marquee-elements-displayed: 5;
  --marquee-elements-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-elements-duration: calc(var(--marquee-elements)*2s)
}

.marquee{
  margin-top: 2vh;
  width: var(--marquee-width);
  height: var(--marquee-height);
  position: relative;
}

.marquee:before, .marquee:after{
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content : "";
  z-index: 1;
}

.marquee:before{
  left: 0;
  background: linear-gradient(to right, #082374 0%, transparent 100%);
}

.marquee:after{
  right: 0;
  background: linear-gradient(to left, #082374 0%, transparent 100%);
}

.elements-marquee{
  position: sticky;
  display: flex;
  animation: scrolling 50s linear infinite;
}

@keyframes scrolling {
  0% {transform: translateX(calc(-1*var(--marquee-elements-width)*var(--marquee-elements)));}
  100% {transform: translateX(0vw);}
}

.elements-marquee:hover{
  animation-play-state: paused;
}

.element{
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--marquee-elements-width);
  height: var(--marquee-height);
  border: 0px solid var(--couleur-principale-1);
  border-width: 2px 0px 2px 0px;
  border-radius: 16px;
  flex-shrink: 0;
  white-space: nowrap;
  backdrop-filter: blur(10px);
  transition: 0.3s; 
}

.element:hover{
  transform: scale(1.1);
  z-index: 5;
}

.marquee .elements-marquee .element .photo{
  margin-left: 3px;
  width: 45px;
  height: 45px;
  border:2px solid var(--couleur-principale-3);
  border-radius: 16px;
}

.marquee .elements-marquee .element .informations{
  flex:1;
  padding-left:10px;
}

.marquee .elements-marquee .element .informations h4{
  height: 50%;
  margin: 0px;
  color: whitesmoke;
}
  
/*scroll bar design (probablement à retirer) */

.scrollbar{
  z-index: 4;
  position:fixed;
  top: 0px;
  right: 0;
  width: 5px;
  height: 0;
  opacity: 0;
  background: linear-gradient(to top,  #2F77B2, var(--couleur-principale-1));
  transition: 0.3s;
}

.clickScrollbar{
  z-index: 5;
  position:fixed;
  top: 0px;
  right: 0;
  width: 5px;
  height: 100%;
  background: rgba(170, 170,170,0.356);
  transition: 0.3s;
}

/*=======================================================================================================*/
/*================================================ NAV PRINCIPALE =======================================*/

/* NAV */

nav, #interact{
  height: 0.5vh;
	display: flex;
	position: sticky;
	top: 50px;
	left: 0;
  z-index: 2;
}

nav{
	justify-content: center;
}

#interact{
  justify-content: end;
}
  
nav .drop, #interact .drop, #creer-avis{
	text-align: center;
	padding: 8px 8px;
	transition: 0.3s;
	margin-right: 2px;
	margin-left: 2px;
  box-shadow: 0 4px 30px rgba(67,119,178, 0.6);
}

nav .drop{
  height: 24px;
  width: 24px;
}

#interact .drop, #creer-avis{
  height: 36px;
  width: 36px;
}

#actu, #map{
  transform: translate(0px, 50px);
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {

  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  30% {
    opacity: 1;
    transform: scale(1.05,0.95) translateY(75px);
  }
  60% { transform: scale(0.975,1.025) translateY(40px); }
  100% { transform: scale(1,1) translateY(50px); }
}

#note, #checkbox{
  transform: translate(0px, 50px);
  animation: fadeInAnimation2 ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation2 {

  0% {
    opacity: 0;
    transform: translate(100px, 35px);
  }
  30% {
    opacity: 1;
    transform: scale(0.95, 1.05) translate(-45px, 35px);
  }
  60% { transform: scale(1.025, 0.975) translate(-10px, 35px); }
  100% { transform: scale(1,1) translate(-20px, 35px); }
}

/*=======================================================================================================*/
/*======================================================= PAGES =========================================*/

#pages{
  width:100%;
  height: 74vh;
}

#map-actu{
  display: flex;
  position: relative;
}

#pages-map, #pages-actu{
  position: absolute;
  transition: 0.3s;
  width: 100vw;
  left: 0px;
}

#pages-map{
  transform-origin: left;
}

#pages-actu{
  z-index: 0;
  transform-origin: right;
}

/*=======================================================================================================*/
/*========================================================= SECTION NOTATION ============================*/

#first-line{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#title-batiment{
  flex: auto;
  display: flex;
  flex-direction: row;
  border: 2px solid var(--couleur-principale-1);
  border-radius: 16px;
  box-shadow: -2px 2px 2px 2px black;
  margin-right: 20px;
  margin-left: 20px;
  vertical-align: middle;
}

#batiment-name {
  flex: 40%;
  text-align: center;
}

#ville-name-notation {
  flex: auto;
  text-align: right;
  color: #1439a9;
  padding: 0 20px 0 0;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

#creer-avis{
  margin-right: 40px;
}

/* Sections */

.parent {
  position: relative;
  display: flex;
  height: 74vh;
  width: 100%;
}

.child1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.child2 {
  z-index: 0;
  position: absolute;
}

/*=======================================================================================================*/
/*========================================================= SECTION GPS =================================*/

#title-gps {
  padding-top: 100px;
}

.inputBox {
  position: relative;
  width: 250px;
  padding: 0 0 0 10px;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255, 0.25);
  background-color: #1d2b3a;
  border-radius: 5px;
  outline: none;
  color: rgb(255, 255, 255, 0.25);
  font-size: 1em;
  transition: 0.3s;
}

.inputBox span {
  position: absolute;
  margin: 0 0 0 10px;
  left: 0;
  top: 1px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: rgb(255, 255, 255, 0.25);
  text-transform: uppercase;
  transition: 0.3s;
}

.inputBox input:valid ~ span, .inputBox input:focus ~ span {
  color: #1d2b3a;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  border-radius: 2px;
  background-color: #00dfc4;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  letter-spacing: 0.2em;
}

.inputBox input:valid, .inputBox input:focus {
  border: 1px solid #00dfc4;
  color: #00dfc4;
}

#les-inputs-gps {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

#titre-text-gps {
  margin: 30px 0 30px 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  color: #1d2b3a;
  margin-left: 20px;
  font-size: 38px;
  -webkit-text-stroke: 0.3vw #383d52;
  text-transform: uppercase;
}

#titre-text-gps::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color:#00dfc4;
  -webkit-text-stroke: 0vw #383d52;
  border-bottom: 2px solid #00dfc4;
  overflow: hidden;
  animation: animeTitreGPS 4.5s linear infinite;
}

@keyframes animeTitreGPS {
  0%, 10%, 100% {
    width: 0;
  }
  70%, 90% {
    width: 100%;
  }
}

/*=======================================================================================================*/
/*======================================================== SECTION PARAMETRES ===========================*/


#section-map, #section-fil-actu, #section-notation, #section-creer-article{
  transition: 1s;
  border-radius: 20px;
  flex: 1;
  border-top:4px solid var(--couleur-principale-1);
  border-bottom:4px solid var(--couleur-principale-1);
}

#section-fil-actu{
  min-height: 74vh;
  opacity: 0;
  transform-origin: right;
}

#section-notation {
  text-align: center;
  position: relative;
  transform: translate(-100%,0px);
  display: flex;
  border-width: 4px;
  z-index: 4;
  height: 74vh;
  width: 100%;
  backdrop-filter: blur(10px);
}

#section-creer-article{
  display: none;
  transform-origin: top left;
  position: relative;
  transform: translate(100%,0px);
  border-width: 4px;
  z-index: 5;
  backdrop-filter: blur(10px);
  width: 100%;
}

#section-map{
  min-height: 74vh;
}

#section-gps{
  text-align: center;
  transform: translate(-100%,0px);
  display: flex;
  z-index: 5;
  height: 74vh;
  width: 300px;
  border-width: 4px 4px 4px 0;
  border-style: solid;
  border-color: var(--couleur-principale-1);
  background-color: #1d2b3a;
}

#itineraire-gps {
  z-index: 5;
  display: flex;
  transform: translate(-100%,0px);
  height: 74vh;
  width: 300px;
}

/*=======================================================================================================*/
/*========================================================= SECTION NOTATION ============================*/

#details-notations{
  width: 100%;
  float: left;
  padding-top: 75px;
  margin: 10px;
}

#details-notations h1{
  margin-right: 20px;
  margin-left: 20px;
}

#elements-notations{
  display: flex;
  padding: 10px;
  flex-direction: row;
  border-radius: 16px;
  box-shadow: -2px 2px 2px 2px black;
  margin: 20px;
  border: 2px solid var(--couleur-principale-1);
  height: 40vh;
  width: auto;
  font-size: 50px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
}

#elements-notations .img{
  border: 2px solid #082374;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#elements-notations .img img{
  flex: 1;
  width: 100%;
}

#elements-notations .img .barres-notations{
  width: 100%;
  flex: auto;
}

#elements-notations #section-avis{
  flex: 3;
  height: 100%;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

/* Avis */
#section-avis::-webkit-scrollbar{
  width: 5px;
  background: transparent;
}

#section-avis::-webkit-scrollbar-thumb{
  width:10px;
  border-radius: 5px;
  height: 5px;
  background: linear-gradient(var(--couleur-principale-1), #082374);
}

.avi{
  scroll-snap-align: center;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.avi .actions{
  flex: 1;
  display: flex;
  justify-content: space-around;
  width: 25%;
}


.up, .down, .report{
  transform-origin: bottom;
  transition: 0.3s;
  cursor: pointer;
}

.up:hover, .down:hover, .report:hover{
  transform: scale(1.1);
}

.up:active, .down:active, .report:active{
  transform: scale(1);
}

.avi .actions .up:hover{
  color: green;
}

.avi .actions .down:hover{
  color: red;
}

.avi .actions .report:hover{
  color: orange;
}

.avi .text-avi{
  flex: 6;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  padding: 20px;
}

.avi .compte-note{
  flex: 1;
  display: flex;
  height: 50px;
  width: 50%;
  padding: 2px;
  margin-left: 20px;
  border-bottom: 2px solid #082374;
}

.avi .compte-note .img-profil-note{
  width: 50px;
  height: 100%;
  border-radius: 16px;
  border: 2px solid #082374;
  margin: 0px;
  transform: translateX(-15px);
}

.avi .compte-note .img-profil-note img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.avi .compte-note .nom{
  font-size: 100%;
}

.avi .compte-note span.verified{
  color: green;
}

/* Barres de notatin / etoiles / note */

.barres-notations{
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
}

.barres-1, .barres-2{
  display: flex;
  position: absolute;
}

.barre-notation{
  margin: 2px;
  width: 50px;
  height: 20px;
  border-radius: 10px;
}

.barres-1 .barre-notation{
  background-color: grey;
}

.barres-2 .barre-notation{
  background-color: red;
}

/*
.stars-notations{
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.stars-1, .stars-2{
  margin-left: 50px;
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  width: 150px;
  height: 50px;
}

.stars-1 .material-symbols-outlined{
  transform: scale(1.5);
  color: grey;
  width: 100%;
}

.stars-2{
  background-color: blue;
  width: 100%;
  overflow: hidden;
}

.stars-1{
  background-color: red;
}

.stars-2 .material-symbols-outlined{
  transform: scale(1.5);
  color: rgb(236, 13, 217);
  width: 100%;
}
*/

/*=======================================================================================================*/
/*================================================== SECTION MAP ========================================*/

#boutons-popup {
  display: flex;
  justify-content: center;
  align-items: center;
}

#oui-gps, #non-gps, #go-itineraire {
  flex: 50%;
  width: 75px;
	color: var(--couleur-principale-3);
	text-align: center;
	padding: 8px 8px;
	transition: 0.3s;
	margin-right: 5px;
	margin-left: 5px;
	box-shadow: -1px 2px 2px grey;
  font-size: 20px;
  background: linear-gradient(var(--couleur-principale-5), var(--couleur-principale-5));
}

#go-itineraire {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0 50px;
}

#go-itineraire span {
  scale: 2.5;
}

#oui-gps:hover, #non-gps:hover, #go-itineraire:hover {
  background: linear-gradient(var(--couleur-principale-4), var(--couleur-principale-3));
  color: var(--couleur-principale-5);
}

#oui-gps:active, #non-gps:active, #go-itineraire:active {
  background: linear-gradient(var(--couleur-principale-2), var(--couleur-principale-2));
  background-color: var(--couleur-principale-2);
  box-shadow: 0px 0px;
}

#adresse-note{
	flex: 1;
	color: whitesmoke;
	text-align: center;
	padding: 8px 8px;
	transition: 0.3s;
	margin-right: 2px;
	margin-left: 2px;
	box-shadow: -1px 2px 2px grey;
  font-size: 20px;
}

#itineraire {
  display: flex;
  align-items: center;
  justify-content: center;
	color: whitesmoke;
  vertical-align: middle;
	padding: 8px 8px;
	transition: 0.3s;
	margin-right: 2px;
	margin-left: 2px;
	box-shadow: -1px 2px 2px grey;
  font-size: 20px;
  width: 30px;
  height: 30px;
}

#itineraire span {
  scale: 1.5;
}

/*=======================================================================================================*/
/*================================================== SECTION FIL ACTU ===================================*/

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

#section-fil-actu {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}


#section-fil-actu ::-webkit-scrollbar {
  width: 0;
}

#section-fil-actu ::-webkit-scrollbar-track {
  background: transparent;
}

#section-fil-actu ::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

#section-fil-actu  {
  -ms-overflow-style: none;
}

#section-fil-actu ol,#section-fil-actu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-fil-actu .carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

#section-fil-actu .carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

#section-fil-actu .carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #4377B2;
  counter-increment: item;
}

#section-fil-actu .carousel__slide:nth-child(even) {
  background-color: #4D98BF;
}

#section-fil-actu .carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

#section-fil-actu .carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  #section-fil-actu .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  #section-fil-actu .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

#section-fil-actu .carousel:hover .carousel__snapper,
#section-fil-actu .carousel:focus-within .carousel__snapper {
  animation-name: none;
}

#section-fil-actu .carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

#section-fil-actu .carousel__navigation-list,
#section-fil-actu .carousel__navigation-item {
  display: inline-block;
  background-color: transparent;
}

#section-fil-actu .carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: whitesmoke;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

#section-fil-actu .carousel::before,
#section-fil-actu .carousel::after,
#section-fil-actu .carousel__prev,
#section-fil-actu .carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

#section-fil-actu .carousel::before,
#section-fil-actu .carousel__prev {
  left: -1rem;
}

#section-fil-actu .carousel::after,
#section-fil-actu .carousel__next {
  right: -1rem;
}

#section-fil-actu .carousel::before,
#section-fil-actu .carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

#section-fil-actu .carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

#section-fil-actu .carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

#Article{
  padding: 5px 10px 5px 10px;
}

#TitreArticle{
  border-style: solid;
  border-color: whitesmoke;
  border-width: 3px;
  border-radius: 16px;
  font-size: 30px;
  text-align: center;
  margin: 5px 3px 3px 10px;
}

#DescriptionArticle{
  border-style: solid;
  border-color: whitesmoke;
  border-width: 3px;
  border-radius: 16px;
  margin: 5px 10px 5px 10px;
  padding: 5px 5px 5px 15px;
}

#section-fil-actu img{
  border-style: solid;
  border-color: whitesmoke;
  border-width: 3px;
  border-radius: 16px;
  width: 270px;
  text-align:center;
  margin: auto;
  display:flex;
  margin-top: 15px;
}

#section-fil-actu .container{
  column-count: 2;
  column-gap: 0px;
}


/*=======================================================================================================*/
/*================================================== SECTION CREER ARTICLE ==============================*/

#section-creer-article p{
  text-align: center;
  font-size: 30px;
  margin-top: 85px;
}

#Legend{
  text-align: center;
}

#BoutonEnvoie{
  width: 200px;
  display: block;
  margin : auto;
  margin-bottom: 20px;
  background-color: var(--couleur-principale-2);
  border-radius: 16px;
}

fieldset{
  background-color: var(--couleur-principale-2);
  width: 740px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  border: 2px solid var(--couleur-principale-1);
}

#Description{
  display: block;
  margin : auto;
}

fieldset input{
  background-color: var(--couleur-principale-4);
  height: 20px;
  border-radius: 16px;
  width: 95%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border : none;
  
}

#section-creer-article #champ-remplit-art{
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  overflow-y: scroll;
}

#section-creer-article fieldset textarea{
  background-color: var(--couleur-principale-4);
  border: 1px solid var(--couleur-principale-2);
  border-radius: 16px;
  width: 95%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
}

/*=======================================================================================================*/
/*================================================== FOOTER =============================================*/

footer{
  z-index: 0;
}

#le-footer {
  height: 60px;
  display: flex;
  background-color: var(--couleur-principale-1);
  margin: 0px 0px 0px 0px;
  border-radius: .5rem .5rem 0rem 0rem ;
  align-items: center;
  justify-content: space-between;
}

#copyright {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 30%;
  padding: 0 0 0 15px;
  flex: auto;
}

#foot-gauche {
  display: flex;
  flex-direction: column;
  flex: auto;
  text-align: center;
}

#le-footer h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 80%;
  flex: auto;
  text-align: center;
}

#le-footer p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 100%;
  flex: auto;
}

#le-footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.lien-footer {
  text-decoration: none;
  font-size: 100%;
}

.lien-footer:link {
  color: black;
}

.lien-footer:hover {
  color:rgb(139, 0, 0);
}

.lien-footer:visited {
  color: black;
}

#nos-devs{
  margin-right: 15%;
  padding: 4px;
  text-align: center;
}

/*=======================================================================================================*/
/*================================================== RESPONSIVE =========================================*/

@media screen and (max-width: 925px)
{
    #elements-notations{
      flex-direction: column;
    }
    #elements-notations .img{
      flex-direction: row;
    }
    #elements-notations .img img{
      width: 25%;
    }
    fieldset{
      width: 80vw;
    }
}

@media screen and (max-width: 680px)
{
    #connect{
      display: none;
    }
    :root{
      --marquee-elements-displayed:2;
    }
}