html{
    background-color: #F3FBF8;
    font-family: 'ZT Grafton', sans-serif;
    font-weight: bold;
  }
  body{
    margin:0px;
    min-height: 75vh;
  }
  /* HEADER */
  
  header{
    z-index: 5;
    height: 7vh;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
  }
  
  header div{
    background-color: #4377B2;
    margin: 0px 0px 0px 0px;
    border-radius: 0rem 0rem .5rem .5rem;
  }
  
  #titre a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    right: 60px;
    top: -20px;
  }
  
  #titre a:hover{
    text-decoration: none;
  }
  #titre a:visited{
    text-decoration: none;
  }

  h1{
    border: 0px solid #4377B2;
    border-width: 0px 0px 2px 0px;
    border-radius: -16px;
  }
  
  h2{
    margin-left: 20px;
  }

  #contenu hr{
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }


  #contenu p{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;

  }

  #contenu .photo_profil{
    position: relative;
    width : 20%;
    margin-left: 50px;
    margin-right: auto;
    border-radius: 25px;
  }

  #button_mdp {
    border: solid 1px red;
    background-color: transparent; 
    color : red;
    font-weight: bold;
    text-decoration: none; /* Supprime la surbrillance */
    display: inline-block; /* Affiche le bouton sur une ligne */
    font-size: 16px; /* Taille de police */
    cursor: pointer; /* Change le curseur en main lorsque la souris passe sur le bouton */
    border-radius: 4px; /* arrondit les coins du bouton */

    text-align: center;
    margin: 8px; /* ajoute de la marge autour du bouton */
    padding: 12px 20px; /* ajoute du padding à l'intérieur du bouton */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s; /* transition de 0.5s pour la couleur de fond */
    
  }

  #button_suppr {
    border: solid 1px red;
    background-color: transparent; 
    color : red;
    font-weight: bold;
    text-decoration: none; /* Supprime la surbrillance */
    display: inline-block; /* Affiche le bouton sur une ligne */
    font-size: 16px; /* Taille de police */
    cursor: pointer; /* Change le curseur en main lorsque la souris passe sur le bouton */
    border-radius: 4px; /* arrondit les coins du bouton */

    text-align: center;
    margin: 8px; /* ajoute de la marge autour du bouton */
    padding: 12px 20px; /* ajoute du padding à l'intérieur du bouton */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s; /* transition de 0.5s pour la couleur de fond */
    
  }

  #button_suppr_post {
    border: solid 1px red;
    background-color: transparent; 
    color : red;
    font-weight: bold;
    text-decoration: none; /* Supprime la surbrillance */
    left : 100px;
    font-size: 16px; /* Taille de police */
    cursor: pointer; /* Change le curseur en main lorsque la souris passe sur le bouton */
    border-radius: 4px; /* arrondit les coins du bouton */
    margin: 8px; /* ajoute de la marge autour du bouton */
    padding: 12px 20px; /* ajoute du padding à l'intérieur du bouton */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s; /* transition de 0.5s pour la couleur de fond */
    
  }

  #menu_mdp {
    list-style-type: none; /* Supprimer les marqueurs de liste */
    margin: 0; /* Mettre à zéro les marges */
    margin-top: 5px;
    padding: 0; /* Mettre à zéro les espacements intérieurs */
    overflow: hidden; /* Cacher les éléments dépassant */
  }
  
  #formulaire_mdp {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }

  #menu_mdp form .change_mdp{
    width: 100%;
    background-color: #4ca3af;
    color: white;
    padding: 14px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  #menu_mdp form .change_mdp:hover{
    background-color: #456fa0;
  }
  
/*=======================================================================================================*/
/*========================================================= SECTION AVIS ================================*/

.section, .section2, .section3{
  flex: 1;
  height: 500px;
  overflow: auto;
  border: 2px solid black;
  border-radius: 16px;
  margin: 10px;
  scroll-snap-type: y none;
}
  
.section::-webkit-scrollbar, .section2::-webkit-scrollbar, .section3::-webkit-scrollbar{
  width: 5px;
  background: transparent;
}
  
.section::-webkit-scrollbar-thumb, .section2::-webkit-scrollbar-thumb, .section3::-webkit-scrollbar-thumb{
  width:10px;
  border-radius: 5px;
  height: 5px;
  background: linear-gradient(var(--couleur-principale-1), #082374);
}

.avi{
  scroll-snap-align: center;
  width: auto;
  height: 20%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.avi .actions{
  flex: 1;
  display: flex;
  justify-content: space-around;
  width: 25%;
}

.avi .text-avi{
  flex: 6;
  font-size: 10px;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}

.avi .compte-note{
  display: flex;
  height: 25px;
  padding: 2px;
  margin-left: 20px;
  border-bottom: 2px solid #082374;
  position: relative;
}

.avi .compte-note .img-profil-note{
  width: 25px;
  height: 25px;
  border-radius: 8px;
  border: 2px solid #082374;
  margin: 0px;
  transform: translateX(-15px);
}

.avi .compte-note .img-profil-note img{
  height: 25px;
  width: 25px;
  object-fit: cover;
  border-radius: 7px;
}

.avi .compte-note .nom{
  font-size: 25px;
}

.avi .compte-note span.verified{
  color: green;
}

#choix_like_dislike_report{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#choix_like_dislike_report > div, .bouton_avis_signalés, .bouton_nouveau_lieu{
  flex: 1;
  text-align: center;
  position: relative;
  border: 1px solid #456fa0;
  padding: 15px;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

#choix_like_dislike_report > div:hover, .bouton_avis_signalés:hover, .bouton_nouveau_lieu:hover{
  background-color: #456fa0;
}

#sections{
  display: flex;
}

#sections > div , .section2, .section3{
  display: none;
}

.go_avis, .suppr_avis, .ajout_suppr{
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}

.go_avis, .suppr_avis, .ajout_lieu, .suppr_lieu{
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
}

.go_avis{ 
  border: 1px solid black;
}

.suppr_avis{
  border: 1px solid red;
  color: red;
}

.ajout_lieu{
  border: 1px solid green;
  color: green;
}

.suppr_lieu{
  border: 1px solid red;
  color: red;
}

.go_avis:hover{
  background-color: #4377B2;
}

.suppr_avis:hover{
  background-color: rgb(150,0,0);
}

.ajout_lieu:hover{
  background-color: rgb(14, 225, 112);
}

.suppr_lieu:hover{
  background-color: rgb(150, 0, 0);
}

#sectionAdmin .go_avis{
 display: none;
}

#sections .suppr_avis{
  display: none;
}

#verif_suppr{
  position: absolute;;
  width: 30%;
  height: 150px;
  background-color: red;
  z-index: 2;
  left: calc(50% - 15%);
  top: 100px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
}

#verif_suppr p{
  text-align: center;
  margin: 0px;
}

#suite_carac{
  height: 30px;
  margin-top: 10px;
}

/* Titre */

#titre {
  flex: 8;
  display: flex;
  align-items: center;
}

#effecten {
  overflow: hidden;
  filter: contrast(150%) brightness(1000%);
  position: relative;
  background: black;
  width: 130px;
  height: 100%;
  border-radius: 0;
  display: flex;
  align-items: center;
  padding: 0 10px 0 20px;
}

#evnote {
  color: #fff;
  margin: 0;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  background:  black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  border: 0;
}

#evnote::before, #evnote::after {
  content: attr(data-text);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  filter: blur(0.02em);
}

#evnote::after {
  mix-blend-mode: difference;
}

.gradient, .spotlight {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.gradient {
  background: linear-gradient(45deg, red, yellow);
  mix-blend-mode: multiply;
}

.spotlight {
  top: -100%;
  left: -100%;
  background: radial-gradient(circle, white, transparent 25%) 0 0 / 25% 25%, radial-gradient(circle, white, black 25%) 50% 50% / 12.5% 12.5%;
  mix-blend-mode: color-dodge;
  animation: Fire 5s linear infinite;
}

@keyframes Fire {
  100% {
    transform: translate(50%, 50%);
  }
}

#time-animation, #meteo{
  margin: 0 10px;
}

#time-animation{
  animation: timeAnimation 10s ease infinite;
}

@keyframes timeAnimation {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(+10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

#meteo{
  animation: meteoAnimation 10s ease infinite;
}

@keyframes meteoAnimation {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}

#time {  
  background: transparent;
  position: relative;
  font-size: 23px;
  margin: 0 0 0 0;
  color: #222;
  border-radius: 0;
  border-bottom: 2px solid #222;
}

hr{
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/*==============================BOUTON POST LIKE / DISLIKE / REPORT===============================*/
#choix_post_like_dislike_report{
  display: flex;
  justify-content: space-around;
}

.bouton_post {
    flex: 1;
    width: 100%;
    text-align: center;
    position: relative;
    align-items: center;
    border: 1px solid #456fa0;
    height: 50px;
    padding: 15px;
    margin: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
  
.bouton_post:hover{
    background-color: #456fa0;
  }
  /*
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    height : 50px;
    cursor: pointer;
    text-align: center;
    position: relative;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
    flex: 1 1 0%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(69, 111, 160);
    border-image: initial;
    padding: 15px;
    margin: 10px;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
}
*/

/*==================================SLIDER=======================================*/

main {
  box-sizing:border-box;
  height: 90%;
}

/* Slideshow container */
.slideshow-container {
  width: 700px;
  position: relative;
  margin: auto;
  height: 500px;
}

/* Hide the images by default */
.slideshow-container .mySlides {
  display: none;
}

/* Next & previous buttons */
.slideshow-container .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-container .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.slideshow-container .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.slideshow-container .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slideshow-container .active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.slideshow-container .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.slideshow-container .article-img{
  border-style: solid;
  border-color: whitesmoke;
  border-width: 3px;
  border-radius: 16px;
  width: 270px;
  height: 280px;
  text-align:center;
  margin: auto;
  display:flex;
  margin-top: 0px;
  object-fit: cover;
  /*margin-bottom : 5px;*/
}

.slideshow-container .avator {
  border-radius:100px;
  width: 48px;
  margin-right: 15px;
}

.avatorsignale{
  position: relative;
  float : left;
  width: 75px;
  border-radius: 16px;
}

.article-imgsignale{
  position: relative;
  width: 150px;
  float: right;
  bottom: 100px;
  margin-right: 300px;;
}
#Articlesignale {
  border-width: 3px;
  border-style: solid;
  border-color: black;
  border-radius : 16px;
  margin-left : 10px;
  box-sizing: 100px;
}


.slideshow-container #Article {
  max-width:1000px;
  height: 100%;
  height: 400px;
  max-height: 450px;
  background: #5FAEBE;
  margin: 0 auto;
  margin-top: 20px;
  border-radius:3px;
  padding: 30px 30px 70px 30px;
  border-bottom: 1px solid #e6ecf0;
  border-top: 1px solid #e6ecf0;
}



/*
#  #Article {
  max-width:1000px;
  height: 100%;
  position: relative;
  background: #5FAEBE;
  margin: auto;
  border-radius:3px;
  padding: 238px;
}*/

.slideshow-container .TitreArticle{
  font-size: 20px;
  font-style: Arial; 
  text-align: center;
  text-decoration: underline;

}
  
.slideshow-container .article-header {
  display: flex;
  align-items:flex-start;
  font-size:14px;
}
.slideshow-container .article-header-info {
  font-weight:bold;
  flex: 1;

}
.slideshow-container .article-header-info span {
  color:#657786;
  font-weight:normal;
  margin-left: 5px;
}
.slideshow-container .article-header-info p {
  font-weight:normal;
  margin-top: 5px;  
}

.slideshow-container .article-header-info .adresse_event {
  font-weight:normal;
  margin-right: 15px;  
  float: right;
}

.slideshow-container .article-header-info .lieu_event {
  font-weight:normal;
  margin-right: 5px;  
  float: right;
}

.slideshow-container .article-img-wrap {
  padding-left: 60px;
}

.slideshow-container .article-info-counts {
  display: flex;
  margin-left: 60px;
  margin-top: 10px;
}
.slideshow-container .article-info-counts div {
  display: flex;
  margin-right: 20px;
}
.slideshow-container .article-info-counts div svg {
  color:#657786;
  margin-right: 10px;
}
@media screen and (max-width:430px){
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .article-header {
    flex-direction:column;
  }
  .article-header img {
    margin-bottom: 20px;
  }
  .article-header-info p {
    margin-bottom: 30px;
  }
  .article-img-wrap {
    padding-left: 0;
  }
  .article-info-counts {
    display: flex;
    margin-left: 0;
  }
  .article-info-counts div {
    margin-right: 10px;
  }
}
